.Body{
    background-color: black;
    margin: 0;
}
.Header{
    position:sticky;
    z-index: 10;
    background-color: #000000;
    width: 100%;
    height: 48px;
    border-bottom: solid 1px grey;
}
.Website-Title{
    font-size: 24px;
    margin: 12px;
    color: white;
    float: right;
}
.Dropdown{
    
    padding: 12px;
    height: 24px;
    color: white;
    background-color: #000000;
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
}
.Dash{
    margin-left: 12px;
    float: left;
    stroke: white;
    width: 24px;
    height: 24px  ;
    fill: "none"  ;
    stroke-width:2; 
    stroke-linecap:round; 
    stroke-linejoin: round; 
}
.Page-Select{

    margin-top: 12px;
    color: white;
    font-size: 24px;
    margin: 12px;
}
.Page-Select-Button{
    width: 340px;

    border: none;
    outline: none;
    background-color: transparent;
}
.Page-Select-Button:hover .Page-Select{
    color: grey;
    transition: .2s;
}
.Page-Select-Button:hover .Dash{
    stroke: grey;
    transition: .2s;
}
.Menu-Dropdown{
    transition: .5s;
    background-color: white;
    height: auto;
    width: 360px;
}
.Menu-Dropdown-Icon{
    float: left;
    margin: 12px;
    stroke: white;
    width: 24px;
    height: 24px  ;
    /* viewBox: "0 0 24 24" ; */
    fill: "none"  ;
    stroke-width:2; 
    stroke-linecap:round; 
    stroke-linejoin: round; 
}
.Current-Page-Text{
    float: left;
    font-size: 25px;
    margin: 12px; 
    margin-left: 0px;
    color: white;
}
.Menu-Button{
    background-color: transparent;
    height: 48px;
    outline: none;
    border: none;
    border-right: solid 1px grey;
    width: 360px;
}
.Menu-Dropdown-Button-Div:hover .Menu-Dropdown-Icon{
    stroke: grey;
    transition: .2s;
}
.Menu-Dropdown-Button-Div:hover .Current-Page-Text{
    color: grey;
    transition: .2s;
}